<!DOCTYPE html>
<html lang="en" xmlns:th="http://thyleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thyleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1 th:text="${user.getId()}">VALUE</h1>
<h1 th:text="${user.getName()}">VALUE</h1>
<h1 th:text="${user.getPost()}">VALUE</h1>
<h1 th:text="${user.getAge()}">VALUE</h1>
<br/>
<a th:href="@{{id}/edit(id = ${user.getId()})}">Edit</a>

<form th:method:="DELETE" th:action="@{users/{id} (id=$(user.getId()})}">
    <input type="submit" value="Delete!"/>
</form>
</body>
</html>